{% load static tailwind_tags %} 
{% tailwind_css %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" id="fontawesome-css">
</head>

{% include './navbar.html' %}

<!-- This heading only shows when in mobile view-->
<!-- Quite elegant if you ask me-->
<h1 class="sm:hidden text-4xl font-bold text-violet-500 text-center m-4">Pool Store</h1>

<div class="grid grid-cols-3 m-4 text-center items-center flex-wrap">
    <div class="">
        {% include './storageselector.html' %}
    </div>
    <h1 class="hidden sm:grid text-4xl font-bold text-violet-500">Pool Store</h1>
    <div class="justify-self-end col-start-3">
        <button id="togglefish" class="border-black border-2 rounded-2xl px-4 h-full">
            <h1 class="text-2xl font-bold text-violet-500">Filters</h1>
        </button>
    </div>
</div>

<div id="filters" class="hidden">
    <div class="grid grid-cols-3 sm:grid-cols-6 md:grid-cols-9 mx-2 flex-wrap">
        {% for i in "abcdefghi" %}
            {% include './filter.html' %}
        {% endfor %}
    </div>
</div>


<div class="grid sm:grid-cols-2 sm:text-sm md:grid-cols-3 lg:text-lg justify-items-center [&_div]:border-black [&>div]:border-2 [&>div]:m-2 [&>div]:rounded-xl p-4 gap-10">
    {% for type in kittypes %}
        <div class="text-center mx-auto">
            <div class="flex justify-around items-center m-2">
                <h1 class="font-medium text-xl grow">{{type}}</h1>
                <button id="togglefilter" class="border-black border-2 rounded-xl justify-self-end mr-4 px-4">
                    <h2>Filters</h2>
                </button>
            </div>
            <div>
                <div id="filter" class="hidden grid grid-cols-3 mx-2">
                    {% for i in "abc" %}
                        <!-- Instead of filter needs to be element that opens a dropdown or list below -->
                         <!-- probs a repeat of Filters buttons -->
                         <!-- Per filter that then lists what you can filter by -->
                        <!-- Filters on or off by default? -->

                         {% include './filter.html' %}
                    {% endfor %}
                </div>
            </div>

            <div class="bg-blue-400 border-b-2 border-t-2">
            <div class="bg-blue-400 rounded-full px-3 grid grid-cols-4 justify-items-center m-2">
                {% for head in kitheaders %}
                    <h1 class="font-medium text-xl sm:text-base lg:text-xl" onclick="sortKits('{{head}}')">{{head}}</h1>
                {% endfor %}
            </div>
            </div>

            {% for kit in kitlist %}
                <!-- kit content goes here -->
                {% include 'gucc_app/includes/basekit.html' with kit=kit %}
            {% endfor %}

        </div>
    {% endfor %}
</div>

<script>
    document.getElementById('togglefish').addEventListener('click', function() {
    var toggleDiv = document.getElementById('filters');
    if (toggleDiv.classList.contains('hidden')) {
        toggleDiv.classList.remove('hidden');
    } else {
        toggleDiv.classList.add('hidden');
    }
});
</script>

<script>
    document.getElementById('togglefilter').addEventListener('click', function() {
    var toggleDiv = document.getElementById('filter');
    if (toggleDiv.classList.contains('hidden')) {
        toggleDiv.classList.remove('hidden');
    } else {
        toggleDiv.classList.add('hidden');
    }
});
</script>