<!-- {% block title_block %} Google Calendar Events {% endblock %} -->
<!-- {% block content_block %} -->


<iframe src="https://embed.styledcalendar.com/#ugPXA9WyseE5xWU09kWw" title="Styled Calendar" class="styled-calendar-container p-10" style="width: 100%; border: none; overflow: hidden; height: 678px;" data-cy="calendar-embed-iframe" id="iFrameResizer0" scrolling="no"></iframe>
<script async="" type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
<script src="/static/django-browser-reload/reload-listener.js" data-worker-script-path="/static/django-browser-reload/reload-worker.js" data-events-path="/__reload__/events/" defer=""></script>

<div id="c-notification" class="c-notification"><iframe id="c-iframe" title="c-iframe" class="c-iframe" allow="clipboard-read; clipboard-write" style="width: 0px; height: 0px; visibility: visible;"></iframe></div>
<!-- {% endblock %} -->

