{% extends "gucc_app/base.html" %}
{% load static %}


{% block title_block %}
    About
{% endblock %}

{% block content_block %}
<div class="container mx-auto pt-4">
    <div class="grid grid-cols-1 gap-4">
        <!-- First item -->
        <div class="flex flex-col md:flex-row items-center p-4 bg-white shadow-md rounded-lg">
            <div class="md:w-1/2 p-2">
                <h2 class="text-center font-bold text-xl text-blue-400 mb-4">Main About</h2>
                <p>A key part of being a member of GUCC is getting out and about on weekends for paddling and fun. We run a wide range of both day and weekend long trips exploring all corners of Scotland near and far. Our trips should happen every 2nd weekend and we make sure to paddle a variety of different rivers to cater for all standards of paddlers. Whether you’re the freshest of freshers or a long-time big sender you’ll be able to have fun and push yourself on a GUCC trip.</p> 
        
                <!-- <p>INTERMEDIATE WEEKEND is a great chance to get acquainted with some of Scotlands slightly spicier and harder rivers. If you’re a more confident paddler and looking to shred some Gnarr and push yourself then this is the trip for you. Just like our other weekend trips there is plenty of fun and games to be had in the evenings once paddling is over for the day.</p> -->
           </div>
            <div class="md:w-1/2 p-2">
                <img src="{% static 'images/canoe_club_photo_2024.jpg' %}" alt="Picture 1" class="w-full h-auto rounded-lg">
            </div>
        </div>
        <!-- Second item -->
        <div class="flex flex-col md:flex-row-reverse items-center p-4 bg-white shadow-md rounded-lg">
            <div class="md:w-1/2 p-2">
                <h2 class="text-center font-bold text-xl text-pink-400 mb-4">About Socials</h2>
                <p class="text-lg font-semibold mb-2">Text for the Socials</p>
            </div>
            <div class="md:w-1/2 p-2">
                <img src="{% static 'images/social.jpg' %}" alt="Picture 2" class="w-full h-auto rounded-lg">
            </div>
        </div>
        <!-- Third item -->
        <div class="flex flex-col md:flex-row items-center p-4 bg-white shadow-md rounded-lg">
            <div class="md:w-1/2 p-2">
                <h2 class="text-center font-bold text-xl text-green-800 mb-4">About Trips</h2>
                <p> first weekend trip of the year is FRESHERS WEEKEND, this trip is catered towards our newer members and will allow you to get comfortable in a boat in a beginner friendly environment with help and coaching from our friendly older members. There are also plenty of social activities in the evening for everyone to get to know each other and feel included in the GUCC family.</p> The annual surf trip to beautiful MACHRIHANISH on the west coast is a highlight of the GUCC year. Prepare for exhilarating surfing and swimming by day and partying hard by night! As one of our more ‘seshy’ weekends we cannot guarantee that your liver will be happy by the end but your heart and soul certainly will.</p>
            </div>
            <div class="md:w-1/2 p-2">
                <img src="{% static 'images/river_trip.jpg' %}" alt="Picture 3" class="w-full h-auto rounded-lg">
            </div>
        </div>
        <h1>However many abouts you want. Could do a polo or general competitions one.</h1>
    </div>
</div>
{% endblock %}
