{% load static tailwind_tags %}
<html>
    <head>
        <title> {% block title_block %} GUCC {% endblock %} </title>
        <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" id="fontawesome-css">
        {% tailwind_css %}
        {% block head_block %}
            <!-- empty -->
        {% endblock %}
    </head>

    <body>
        {% include './includes/navbar.html' %}
        <div class="container mx-auto pt-4">
            {% block content_block %}
                <!-- empty -->
            {% endblock %}
    </body>

</html>