{% extends 'gucc_app/base.html' %}
{% load static tailwind_tags %}

{% block title_block %} Home {% endblock %}

{% block head_block %}
{% endblock %}

{% block content_block %}
    <h1 class="text-4xl text-center mt-8">Welcome to the GUCC website</h1>
        <div class="md:grid md:grid-cols-4">
            <img class="mx-auto" src="{% static 'images/canoe_club_logo.jpg' %}" alt="logo">
            <div class="col-span-2">
                <p class="text-center mt-4">This is a website for the Geelong Underwater Camera Club</p>
                <p class="text-center">We are a group of underwater photographers and videographers based in Geelong, Victoria</p>
                <p class="text-center">We meet regularly to share our work and learn from each other</p>
                <p class="text-center">We also organise trips and events to explore the underwater world</p>
                <p class="text-center">Please use the navigation menu to explore our website</p>
            </div>
        <img class="mx-auto" src="{% static 'images/canoe_club_logo.jpg' %}" alt="logo">
        
    </div>
    {% include './includes/calendar.html' %}
    <!-- https://www.reddit.com/r/css/comments/buwtof/styling_an_embedded_google_calendar_beginner/ -->

{% endblock %}